* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.portada p,
.portada button {
    color: white;
    font-size: medium;
}

.portada h1 {
    color: white;
    font-size: x-large;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0rem 1rem;
}

.nav-link {

    font-size: 13px;
}

.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./imagenes/ba1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 580px;
    margin-bottom: 10px;
}

.tarjeta {

    margin-right: 50px;
    text-align: right;
}

.oradores_tarjetas {

    display: flex;
    flex-flow: row wrap;
    padding: 20px 150px;
}

.oradores_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.oradores_titulo h6 {
    font-size: 11px;

}

.etiquetas {

    display: flex;
    flex-direction: row;
}

.card-title {
    margin-top: 10px;
}

.etiquetas h6 {

    margin: 4px;
    font-size: small;
    padding: 3px;
    color: aliceblue;
}

.text-bg-info {
    color: aliceblue;
}

.tarjetas_oradores {

    background-color: aqua;
}

.postal {
    display: flex;
    flex-direction: row;
}

.postal img {
    width: 50%;
}

.postal_descripcion {
    width: 50%;
    font-size: small;
    padding: 10px;
    background-color: #343a40;
    color: rgb(255, 255, 255);
}

.formulario_contacto {
    display: flex;
    flex-flow: column;
    width: 71%;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

button.btn.btn-personal {
    color: whitesmoke;
    background-color: #8fd161;
}

.Links_footer {

    background: rgb(28, 56, 68);
    background: linear-gradient(90deg, rgb(28, 56, 68) 12%, rgb(30, 66, 88) 43%, rgb(31, 82, 113) 100%);
}

footer .nav-item{
    font-size:12px;
    padding: 20px;
    justify-content: center;
    width: min-content;
}

@media (max-width:749px) {
    .postal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .postal_descripcion{

        width: 100%;
    }
    .postal img{

        width: 100%;
    }






}